<div class="booyah-box col-6 offset-3">
	<% @grams.each do |gram| %>
		<div class="booyah-box" col-10 offset-1>
			<h1><%= link_to gram.message , edit_gram_path(gram) %></h1><br />
		</div>
	<% end %>
</div>


